APP_HOST=127.0.0.1
APP_PORT=8000

API_KEY=supersecretkey

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=payments_db
POSTGRES_USER=payments_user
POSTGRES_PASSWORD=payments_pass

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest